</main>

<div class="footer-notice-mobile d-lg-none">
	ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ, НЕОБХОДИМО ПРОКОНСУЛЬТИРОВАТЬСЯ СО СПЕЦИАЛИСТОМ
</div>
<footer class="footer">

	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-4 ">
				<div class="footer__logo d-none d-lg-block ">
					<a href="/"><img src="./images/logo.svg"></a>
					<div class="footer__logo__desc">
						2024, ООО «НПФ «МАТЕРИА МЕДИКА<br> ХОЛДИНГ». Все права защищены.
					</div>

				</div>

				<div class="footer__mmh-logo"><img src="https://materiamedica.ru/assets/images/logo.png"></div>

			</div>

			<div class="col-lg-4 d-none d-lg-block">
				<div class="row">
					<div class="col-12 col-lg-6">


						<div class="footer__links">
							<div><a href="/">Статьи</a> </div>
							<div><a href="/">Инструкция</a> </div>
							<div><a href="/">О препарате</a></div>
							<div><a href="/">Мнение экспертов</a></div>
						</div>

					</div>
					<div class="col-12 col-lg-5">

						<div class="footer__links">
							<div><a href="/">Тесты</a> </div>
							<div><a href="/faq.html">Вопрос-ответ</a></div>
							<div><a href="/">Специалистам</a></div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-lg-4 ">
				<div class="footer__title">Телефон горячей линии:</div>

				<div class="footer__links footer-phones">
					<div><a href="tel:+74956810930">+7 (495) 681-09-30</a> </div>
					<div><a href="tel:+74956819300">+7 (495) 681-93-00</a> </div>
				</div>


				<div class="d-lg-none">
					<div class="footer__logo ">
						<a href="/"><img src="./images/logo.svg"></a>
						<div class="footer__logo__desc">
							2024, ООО «НПФ «МАТЕРИА МЕДИКА ХОЛДИНГ». Все права защищены.
						</div>
					</div>
				</div>

				<div class="footer__links">
					<div><a href="/">Условия использования</a> </div>
					<div><a href="/">Политика конфиденциальности</a> </div>
					<div><a href="/">Фармаконадзор</a></div>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="footer-alert">
	ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ, НЕОБХОДИМО ПРОКОНСУЛЬТИРОВАТЬСЯ СО СПЕЦИАЛИСТОМ
</div>

<!-- Modal -->
<div class="modal fade" id="buyModal" tabindex="-1" aria-labelledby="buyModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<div class="ui-modal__subtitle">
					Где купить
				</div>
				<div class="ui-modal__text">
					Спрашивайте препарат Афалаза®
					в аптеках Вашего города или воспользуйтесь онлайн-сервисами
				</div>



				<ul class="shops_list">
					<li>
						<a href="https://apteka.ru/product/afalaza-100-sht-tabletki-dlya-rassasyvaniya-5e32713665b5ab0001655876/" target="_blank">
							<img loading="lazy" src="https://afalaza.ru/images/pharma/aptekaru.svg" alt="shop">
						</a>
					</li>
					<li>
						<a href="https://zdravcity.ru/p_afalaza-tab-dlja-rassasyvanija-n100-0087668.html" target="_blank">
							<img loading="lazy" src="https://afalaza.ru/images/pharma/zdravcity.svg" alt="shop">
						</a>
					</li>
					<li>
						<a href="https://www.eapteka.ru/goods/id275598/" target="_blank">
							<img loading="lazy" src="https://afalaza.ru/images/pharma/eapteka.svg" alt="shop">
						</a>
					</li>
					<li>
						<a href="https://planetazdorovo.ru/catalog/lekarstva-i-bad/prostatit-adenoma/afalaza-tab-dlya-4857/" target="_blank">
							<img loading="lazy" src="https://afalaza.ru/images/pharma/planeta-zdrav.svg" alt="shop">
						</a>
					</li>
					<li>
						<a href="https://www.asna.ru/cards/afalaza_n100_tab_drassasyvaniya_materia_medika_kholding_npf_ooo.html" target="_blank">
							<img loading="lazy" src="https://afalaza.ru/images/pharma/asna.svg" alt="shop">
						</a>
					</li>
					<li>
						<a href="https://www.rigla.ru/product/4478556" target="_blank">
							<img loading="lazy" src="https://afalaza.ru/images/pharma/rigla.svg" alt="shop">
						</a>
					</li>
				</ul>


			</div>
		</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="./js/app.min.js"></script>
</body> 
</html> 
